{
  "ignore": ["./dist/**/*"],
  "presets": [
    "@babel/preset-stage-0",
    "@babel/preset-flow",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        },
        "modules": false
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-modules-commonjs",
    "dynamic-import-node-babel-7"
  ],
  "env": {
    "production": {
      "comments": false,
      "minified": true
    },
    "test": {
      "plugins": ["./istanbulHackPlugin"]
    }
  }
}
